<div style="padding:30px 20px; color:#333;">
    <h2>Hello <%= name %>,</h2>
    <p>
        Your <strong><%= organizationName %></strong> organization's Donee Account for <strong><%= stateName %></strong> has been successfully activated.<br>
        You can now submit property requests.
    </p>
    <p>To get started:</p>
    <ul>
        <li>Log in to your account</li>
        <li>Select your organization</li>
        <li>Click "Search Properties" from the left-hand menu</li>
    </ul>
    <p>
        Let us know if you have any questions.<br>
        Thank you,<br>
        The American Surplus Team
    </p>
</div>