<div style="padding:30px 20px; color:#333;">
    <h2>Hello <%= name %>,</h2>
    <p>You have been invited to join <strong><%= organizationName %></strong> with the role of <strong><%= roleName %></strong>.</p>
    <p>Please log in to accept or reject the invitation.</p>

    <p>Thanks,<br>American Surplus</p>
</div>